.cart {
    max-width: 1200px;
    margin-top: 50px;
    display: flex;
    flex-flow: column;
    font-size: 16px;
}

.cart table {
    width: 80%;
    margin: 0 auto;
}

.cart th {
    color: #666;
}

.cart th,
.cart td {
    border: none;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 20px 20px;
}

.cart td:first-child{
    text-align: left;
}

.checkout{
    border: none;
    width: 150px;
    height: 30px;
    font-size: 14px;
    background-color: darkslategray;
    border-radius: 6px;
    color: #fff;
    margin-left: 20px
}

.checkout:hover{
    background-color: #599b9b;
}