.counter {
  display: flex;
  align-items: center;
  /* margin: 20px 0; */
}

.counter>.sub,
.counter>.add {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  font-size: 10px;
  padding: 0;
}

.count {
  font-size: 16px;
  margin: 0 4px;
  width: 24px;
  text-align: center;
  border: none;
}