.outer{
    display: none;
}

.cartPreview {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    box-shadow:  0 3px 3px rgba(0, 0, 0, .1);
    position: absolute;
    top: 0;
    right: -100%;
    padding: 10px;
    transition: right .5s;
    overflow: auto;
    z-index: 9999;
}

.cartPreviewActive{
    right: 0;
}

.cartPreview a:hover{
    color: #599b9b;
}

.title {
    display: flex;
    justify-content: space-between;
    height: 60px;
    line-height: 60px;
    padding: 10px;
    font-weight: bold;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.title button {
    font-size: 24px;
}

.cartPreview a{
    color: black;
    font-weight: normal;
    font-size: 16px;
}

.cartData{
    display: flex;
    height: 100px;
    padding: 10px;
    align-content: space-around;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}

.noData{
    margin-top: 25px;
}

.imgWrapper{
    width: 140px;
    margin-right: 20px;
}

.textWrapper {
    text-align: left;
    flex: auto;
    font-size: 16px;
}

.priceWrapper{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

.price{
    font-size: 18px;
    font-weight: bold;
}

.price::before{
    content: 'NT$ ';
    font-size: 16px;
}

.checkout,
.goShop{
    text-align: center;
}

.goShop a,
.checkout a{
    font-size: 20px;
    font-weight: bold;
    height: 48px;
    line-height: 48px;
}

@media only screen and (min-width: 420px) {
    .cartPreview {
        width: 420px;
    }
}