.outer{
    z-index: 9999;
}

.cartPreview {
    width: 500px;
    height: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow:  0 3px 3px rgba(0, 0, 0, .1);
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    z-index: 9999;
}

.title {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

.title button {
    font-size: 24px;
}

.cartPreview a{
    color: black;
    font-weight: normal;
    font-size: 16px;
}

.cartData{
    display: flex;
    height: 120px;
    padding: 10px;
    justify-content: left;
    align-content: center;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}

.imgWrapper{
    width: 180px;
    margin-right: 20px;
}
.cartData p{
    margin-top: 3px;
    margin-bottom: 10px;
}

.checkout{
    text-align: center;
}

.goShop a,
.checkout a{
    font-size: 16px;
}

.goShop:last-child,
.checkout:last-child{
    height: 36px;
    line-height: 46px;
}
