/* .about {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 120px;
    text-align: center;
}

.title{
   color: darkslategray;
   margin-bottom: 30px;
   text-decoration: underline solid;
}

.about p {
    margin: 0 30px;
}

.about img{
    margin-top: 100px;
    width: 100%;
} */