.cartPreview {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .1);
    position: absolute;
    top: 0;
    right: -100%;
    padding: 10px;
    transition: right .5s;
    overflow: auto;
    z-index: 9999;
}

.cartPreviewActive {
    right: 0;
}

.title {
    display: flex;
    justify-content: space-between;
    height: 60px;
    line-height: 60px;
    padding: 10px;
    font-weight: bold;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.title button {
    font-size: 24px;
}

.cartData {
    display: flex;
    height: 100px;
    padding: 10px;
    align-content: space-around;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}

.noData {
    margin-top: 25px;
}

.goShop,
.checkout{
    border: none;
    width: 100%;
    height: 40px;
    font-size: 16px;
    background-color: darkslategray;
    color: #fff;
    font-weight: bold;
    text-align: center;
    border-radius: 6px;
    margin: 20px auto;
    justify-content: center;
    transition: all .3s;
}

.goShop:hover,
.checkout:hover {
    background-color: #599b9b;
}

@media only screen and (min-width: 420px) {
    .cartPreview {
        width: 420px;
    }

    .goShop,
    .checkout {
        width: 384px;
        margin-left: 8px;
    }
}