.confirmOuter{
    z-index: 9999;
}
.confirmModal{
    display: flex;
    flex-flow: column;
    width: 360px;
    height: 180px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.confirmText{
    display: flex;
    height: 150px;
    color: #D62828;
    font-weight: bold;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

.buttons{
    flex: auto;
    display: flex;
    justify-content: flex-end;
}

.buttons button{
    width: 80px;
    margin: 0 10px;
    border: none;
    font-weight: bold;
    font-size: 16px;
}

.buttons .cancel{
    /* border: 1px darkslategray solid; */
    background-color: #EAE2B7;
}