/* .authForm {
    display: flex;
    margin-top: 150px;
    flex-flow: column;
    align-items: center;
}

.authForm h2{
    margin-bottom: -20px;
    font-weight: bold;
    color: darkslategray;
}

.authForm input {
    margin-bottom: 20px;
    width: 300px;
    height: 45px;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
    transition: all .3s;
}

.authForm input:focus{
    outline: none;
    border: none;
    box-shadow: 0 0 0 2px darkslategray;
}

.authForm button{
    border: none;
    width: 300px;
    height: 45px;
    font-size: 16px;
    font-weight: bold;
    background-color: darkslategray;
    color: #fff;
    border-radius: 6px;
}

.authForm button:hover{
    background-color: #599b9b;
}

.toggle{
    margin-top: 16px;
    margin-bottom: 200px;
    text-align: center;
}

.toggle a{
    font-size: 16px;
    color: darkslategray;
}

.toggle a:hover{
    color: #599b9b;
} */
