.FavoriteList {
    margin: 0 auto;
    width: 80%;
    border: 1px solid #ddd;
    border-radius: 5px;
    border-top-left-radius: 0;
    padding: 30px;
    margin-bottom: 100px;
}

.FavoriteList table{
    padding: 50px;
}

.FavoriteList img {
    width: 200px;
}

.FavoriteList button{
    border: none;
    width: 120px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    background-color: darkslategray;
    border-radius: 6px;
}

.FavoriteList a{
    color: #fff;
}
