.navbarWrapper {
    background-color: #fff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100vw;
    height: 70px;
    z-index: 999;
    user-select: none;
    padding-right: 17px;
}

.navbarWrapper a {
    font-weight: bold;
    text-decoration: none;
    color: #2f4f4f;
    transition: all .3s;
}

.navbar {
    max-width: 1200px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 0 20px;
}

.leftMenu {
    z-index: 9999;
}

.menuIcon {
    width: 20px;
    height: 50px;
    position: relative;
    padding: 0;
    margin: 0;
}

.menuIcon li:not(li:nth-child(2)) {
    width: 20px;
    height: 2px;
    background-color: #2f4f4f;
    position: absolute;
    transform-origin: left center;
    transition: all .3s;
}

.line1 {
    top: 18px;
}

.line1Active {
    transform: rotateZ(45deg);
}

.line2 {
    top: 25px;
    width: 20px;
    height: 2px;
    background-color: #2f4f4f;
    position: absolute;
    transform-origin: left center;
    transition: all .3s;
}

.line2Acitve {
    opacity: 0;
}

.line3 {
    top: 32px;
}

.line3Active {
    transform: rotateZ(-45deg);
}

.nav {
    display: none;
    position: fixed;
    top: 70px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    background-color: #fff;
}

.nav li {
    margin: 20px auto;
    width: 80%;
    border-bottom: dashed 1px #2f4f4f;
}

.nav a {
    font-size: 16px;
}

.nav a:hover {
    color: #599b9b;

}

.search span {
    margin-left: 8px;
    color: #2f4f4f;
    font-weight: bold;
    font-size: 16px;
}

.logo img {
    width: 150px;
}

.cart {
    font-size: 20px;
    color: #2f4f4f;
}

.totalQuantity {
    position: absolute;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    background-color: #e60012;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    font-size: 10px;
    margin-top: -4px;
    margin-left: 18px;

}

.rightNav {
    display: none;
}

.rightNav a {
    font-size: 20px;
}

.rightNav a:hover {
    color: #599b9b;
}

@media screen and (max-width: 992px) {
    .navActive {
        display: block;
    }
}

@media only screen and (min-width: 992px) {
    .leftMenu {
        order: 2;
        flex: auto;
    }

    .menuIcon {
        display: none;
    }

    .nav {
        display: flex;
        position: static;
        padding: 0;
        justify-content: space-evenly;

    }

    .nav li {
        width: auto;
        border-bottom: none;
        margin: 0;
    }


    .logo {
        order: 1;
        margin-top: 0;
    }

    .cart,
    .login,
    .search {
        display: none;
    }

    .rightNav {
        width: 30%;
        display: flex;
        order: 3;
        justify-content: space-around;
        align-items: center;
    }

    .rightNav .cart,
    .rightNav .search {
        display: flex;
    }

    .searchIcon {
        font-size: 20px;
        color: #2f4f4f;
    }

    .cart {
        height: 70px;
        line-height: 70px;
    }

    .totalQuantity {
        top: 20px;
    }
    
}