.productImg {
  width: 150px;
  align-items: left;
  margin-right: 20px;
}

.productTitle{
  display: inline;
  color: #000;
}

.delete {
  border: none;
  color: #666;
  background-color: #fff;
  cursor: pointer;
}