@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
      @apply text-2xl md:text-3xl font-bold text-gray-800; 
    }
    h2 {
      @apply text-xl md:text-2xl font-bold text-gray-700;
    }
    h3 {
      @apply text-lg md:text-xl font-bold text-gray-700;
    }
    .input-primary {
        @apply px-5 py-2 rounded border border-inherit transition-all duration-300 
        focus:border-darkslategray focus:outline-none focus:ring-1 focus:ring-darkslategray focus:border-2 md:focus:border;   
    }
    .btn-primary {
        @apply  bg-darkslategray text-white rounded transition-all duration-300 md:hover:bg-[#599b9b];
    }
  }


html,
body {
  height: 100%;
  margin: 0;
}

html { 
  scrollbar-gutter: stable; 
}

body{
    font-family:'Microsoft JhengHei', '微軟正黑體', 'Microsoft YaHei', sans-serif;
}

#root{
    display: flex;
    flex-direction: column;
    height: 100vh;
}